swagger: '2.0'

info:
  version: "3.0.0"
  title: "RIPS API"
  description: |
    RIPS is a static code analysis tool to automatically detect taint-style vulnerabilities in PHP and Java applications.
  contact:
    name: "RIPS Technologies GmbH"
    url: "https://www.ripstech.com"
    email: "contact@ripstech.com"

host: "api-3.ripstech.com"

schemes:
  - "https"
  - "http"

consumes:
  - application/json

produces:
  - application/json

# API
# ---------------------------------------------------------------------------
paths:
  /status:
    get:
      description: |
        Get status information about your session as well as the API environment
      operationId: getStatus
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Status'

  /languages:
    get:
      description: |
        Get all language objects
      operationId: getLanguages
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'

  /languages/{languageId}:
    get:
      description: |
        Get a specific Language
      operationId: getLanguage
      parameters:
      - name: languageId
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Language'
        404:
          description: Not found

  /sources:
    get:
      description: |
        Get all directories from the root source directory

        Only available in the On-Premises version.
      operationId: getSources
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              type: string

  /licenses:
    get:
      description: |
        Get all licenses

        Only available in the On-Premises version.

        #### Available Filters
          | Column           | Restrictions |
          | ---------------- | ------------ |
          | id               |              |
          | createdAt        |              |
          | validUntil       |              |
          | quotaDistributed |              |
          | createdBy        |              |
          | parent           |              |
          | child            |              |
      operationId: getLicenses
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/License'
        403:
          description: Missing permissions
    post:
      description: |
        Activate a new license

        Only available in the On-Premises version.
      operationId: postLicense
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: post.License
          in: body
          required: true
          schema:
            type: object
            properties:
              license:
                $ref: '#/definitions/Post.Sub.License'
            required:
              - license
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/License'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /licenses/{licenseId}:
    get:
      description: |
        Get a specific license

        Only available in the On-Premises version.
      operationId: getLicense
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: licenseId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/License'
        403:
          description: Missing permissions
        404:
          description: Not found

  /logs:
    get:
      description: |
        Get all logs

        #### Available Filters
          | Column           | Restrictions |
          | ---------------- | ------------ |
          | id               |              |
          | text             |              |
          | level            |              |
          | channel          |              |
          | requestUri       |              |
          | requestMethod    |              |
          | ip               |              |
          | createdBy        |              |
          | email            |              |
          | context          |              |
          | createdAt        |              |
          | organization     |              |
          | organizationName |              |
      operationId: getLogs
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Log'
        403:
          description: Missing permissions
    delete:
      description: |
        Delete all logs that are older than a week

        #### Available Filters
          | Column           | Restrictions |
          | ---------------- | ------------ |
          | id               |              |
          | text             |              |
          | level            |              |
          | channel          |              |
          | requestUri       |              |
          | requestMethod    |              |
          | ip               |              |
          | createdBy        |              |
          | username         |              |
          | context          |              |
          | createdAt        |              |
          | organization     |              |
          | organizationName |              |
      operationId: deleteMultipleLogs
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
    post:
      description: |
        Add a new log
      operationId: postLog
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: post.Log
          in: body
          required: true
          schema:
            type: object
            properties:
              log:
                $ref: '#/definitions/Post.Sub.Log'
            required:
              - log
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Log'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /logs/{logId}:
    get:
      description: |
        Get a specific log
      operationId: getLog
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: logId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Log'
        403:
          description: Missing permissions
        404:
          description: Not found

  /activities:
    get:
      description: |
        Get all activities

        #### Available Filters
          | Column           | Restrictions          |
          | ---------------- | --------------------- |
          | id               |                       |
          | type             |                       |
          | context          |                       |
          | application      |                       |
          | applicationName  |                       |
          | createdBy        |                       |
          | createdByEmail   |                       |
          | createdAt        |                       |
          | organization     | - Requires ROLE_ADMIN |
          | organizationName | - Requires ROLE_ADMIN |
      operationId: getActivities
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Activity'

  /activities/{activityId}:
    get:
      description: |
        Get a specific activity
      operationId: getActivity
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: activityId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Activity'
        403:
          description: Missing permissions
        404:
          description: Not found

  /settings:
    get:
      description: |
        Get all settings

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | key       |              |
          | value     |              |
          | createdAt |              |
      operationId: getSettings
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Setting'
    delete:
      description: |
        Delete all settings

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | key       |              |
          | value     |              |
          | createdAt |              |
      operationId: deleteMultipleSettings
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful

  /settings/{key}:
    get:
      description: |
        Get a specific setting
      operationId: getSetting
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: key
          in: path
          required: true
          type: string
          maxLength: 180
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Setting'
        404:
          description: Not found
    delete:
      description: |
        Delete a specific setting
      operationId: deleteSetting
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: key
          in: path
          required: true
          type: string
          maxLength: 180
      responses:
        200:
          description: Successful
        404:
          description: Not found
    put:
      description: |
        Add or update setting
      operationId: putSetting
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: key
          in: path
          required: true
          type: string
          maxLength: 180
        - name: put.Setting
          in: body
          required: true
          schema:
            type: object
            properties:
              setting:
                $ref: '#/definitions/Put.Sub.Setting'
            required:
              - setting
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Setting'
        400:
          description: Invalid input
        404:
          description: Not found

  /organizations:
    get:
      description: |
        Get all organizations

        #### Available Filters
          | Column     | Restrictions |
          | ---------- | ------------ |
          | id         |              |
          | name       |              |
          | validUntil |              |
      operationId: getOrganizations
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        403:
          description: Missing permissions
    delete:
      description: |
        Delete all organizations

        #### Available Filters
          | Column     | Restrictions |
          | ---------- | ------------ |
          | id         |              |
          | name       |              |
          | validUntil |              |
      operationId: deleteMultipleOrganizations
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
    post:
      description: |
        Add a new organization
      operationId: postOrganization
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: post.Organization
          in: body
          required: true
          schema:
            type: object
            properties:
              organization:
                $ref: '#/definitions/Post.Sub.Organization'
            required:
              - organization
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Organization'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /organizations/{organizationId}:
    get:
      description: |
        Get a specific organization
      operationId: getOrganization
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: organizationId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Organization'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific organization
      operationId: deleteOrganization
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: organizationId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing organization
      operationId: patchOrganization
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: organizationId
          in: path
          required: true
          type: integer
        - name: patch.Organization
          in: body
          required: true
          schema:
            type: object
            properties:
              organization:
                $ref: '#/definitions/Patch.Sub.Organization'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Organization'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /quotas:
    get:
      description: |
        Get all quotas with permissions for current user

        #### Available Filters
          | Column             | Restrictions |
          | ------------------ | ------------ |
          | id                 |              |
          | currentApplication |              |
          | currentScan        |              |
          | currentUser        |              |
          | maxApplications    |              |
          | maxScans           |              |
          | maxUsers           |              |
          | maxLoc             |              |
          | validFrom          |              |
          | validUntil         |              |
          | allowedMisses      |              |
          | public             |              |
          | license            |              |
          | notify             |              |
          | organization       |              |
      operationId: getQuotas
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Quota'
    delete:
      description: |
        Delete all quotas

        #### Available Filters
          | Column             | Restrictions |
          | ------------------ | ------------ |
          | id                 |              |
          | currentApplication |              |
          | currentScan        |              |
          | currentUser        |              |
          | maxApplications    |              |
          | maxScans           |              |
          | maxUsers           |              |
          | maxLoc             |              |
          | validFrom          |              |
          | validUntil         |              |
          | allowedMisses      |              |
          | public             |              |
          | license            |              |
          | notify             |              |
          | organization       |              |
      operationId: deleteMultipleQuotas
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
    post:
      description: |
        Add a new quota
      operationId: postQuota
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: post.Quota
          in: body
          required: true
          schema:
            type: object
            properties:
              quota:
                $ref: '#/definitions/Post.Sub.Quota'
            required:
              - quota
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Quota'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /quotas/{quotaId}:
    get:
      description: |
        Get a specific quota
      security:
        - email: []
          password: []
        - oauth2: []
      operationId: getQuota
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Quota'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific quota
      operationId: deleteQuota
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing quota
      operationId: patchQuota
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
        - name: patch.Quota
          in: body
          required: true
          schema:
            type: object
            properties:
              quota:
                $ref: '#/definitions/Patch.Sub.Quota'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Quota'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /quotas/{quotaId}/acls:
    get:
      description: |
        Get all acls with permissions for current user

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | id        |              |
          | ownerUser |              |
          | ownerTeam |              |
      operationId: getQuotaAcls
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Quota.Acl'
        403:
          description: Missing permissions
    delete:
      description: |
        Delete all acls with permissions for current user

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | id        |              |
          | ownerUser |              |
          | ownerTeam |              |
      operationId: deleteMultipleQuotaAcls
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
    post:
      description: |
        Add a new acl
      operationId: postQuotaAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
        - name: post.Quota.Acl
          in: body
          required: true
          schema:
            type: object
            properties:
              acl:
                $ref: '#/definitions/Post.Sub.Quota.Acl'
            required:
              - acl
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Quota.Acl'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /quotas/{quotaId}/acls/{aclId}:
    get:
      description: |
        Get a specific acl
      operationId: getQuotaAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
        - name: aclId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Quota.Acl'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific acl
      operationId: deleteQuotaAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
        - name: aclId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing acl
      operationId: patchQuotaAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: quotaId
          in: path
          required: true
          type: integer
        - name: aclId
          in: path
          required: true
          type: integer
        - name: patch.Quota.Acl
          in: body
          required: true
          schema:
            type: object
            properties:
              acl:
                $ref: '#/definitions/Patch.Sub.Quota.Acl'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Quota.Acl'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /callbacks:
    get:
      description: |
        Get all callbacks with permissions for current user

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | id        |              |
          | url       |              |
          | createdBy |              |
      operationId: getcallbacks
      parameters:
      - name: filter
        in: query
        type: string
        description: A JSON-encoded filter object (see 'Available Filters').
      security:
      - email: []
        password: []
      - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Callback'
    delete:
      description: |
        Delete all callbacks

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | id        |              |
          | url       |              |
          | createdBy |              |
      operationId: deleteMultiplecallbacks
      parameters:
      - name: filter
        in: query
        type: string
        description: A JSON-encoded filter object (see 'Available Filters').
      security:
      - email: []
        password: []
      - oauth2: []
      responses:
        200:
          description: Successful
    post:
      description: |
        Add a new callback
      operationId: postcallback
      security:
      - email: []
        password: []
      - oauth2: []
      parameters:
      - name: post.Callback
        in: body
        required: true
        schema:
          type: object
          properties:
            callback:
              $ref: '#/definitions/Post.Sub.Callback'
          required:
          - callback
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Callback'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /callbacks/{callbackId}:
    get:
      description: |
        Get a specific callback
      operationId: getCallback
      security:
      - email: []
        password: []
      - oauth2: []
      parameters:
      - name: callbackId
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Callback'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific callback
      operationId: deleteCallback
      security:
      - email: []
        password: []
      - oauth2: []
      parameters:
      - name: callbackId
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing callback
      operationId: patchCallback
      security:
      - email: []
        password: []
      - oauth2: []
      parameters:
      - name: callbackId
        in: path
        required: true
        type: integer
      - name: patch.Callback
        in: body
        required: true
        schema:
          type: object
          properties:
            callback:
              $ref: '#/definitions/Patch.Sub.Callback'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Callback'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /teams:
    get:
      description: |
        Get all teams with permissions for current user

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | id        |              |
          | name      |              |
          | createdBy |              |
      operationId: getTeams
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Team'
    delete:
      description: |
        Delete all teams

        #### Available Filters
          | Column    | Restrictions |
          | --------- | ------------ |
          | id        |              |
          | name      |              |
          | createdBy |              |
      operationId: deleteMultipleTeams
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
    post:
      description: |
        Add a new team
      operationId: postTeam
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: post.Team
          in: body
          required: true
          schema:
            type: object
            properties:
              team:
                $ref: '#/definitions/Post.Sub.Team'
            required:
              - team
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Team'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /teams/{teamId}:
    get:
      description: |
        Get a specific team
      operationId: getTeam
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: teamId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Team'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific team
      operationId: deleteTeam
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: teamId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing team
      operationId: patchTeam
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: teamId
          in: path
          required: true
          type: integer
        - name: patch.Team
          in: body
          required: true
          schema:
            type: object
            properties:
              team:
                $ref: '#/definitions/Patch.Sub.Team'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Team'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /users:
    get:
      description: |
        Get all users with permissions for current user

        #### Available Filters
          | Column           | Restrictions          |
          | ---------------- | --------------------- |
          | id               |                       |
          | firstname        |                       |
          | lastname         |                       |
          | email            |                       |
          | root             |                       |
          | enabled          |                       |
          | lastLogin        |                       |
          | organization     | - Requires ROLE_ADMIN |
          | organizationName | - Requires ROLE_ADMIN |
      operationId: getUsers
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
    delete:
      description: |
        Delete all users

        #### Available Filters
          | Column           | Restrictions          |
          | ---------------- | --------------------- |
          | id               |                       |
          | firstname        |                       |
          | lastname         |                       |
          | email            |                       |
          | root             |                       |
          | enabled          |                       |
          | lastLogin        |                       |
          | organization     | - Requires ROLE_ADMIN |
          | organizationName | - Requires ROLE_ADMIN |
      operationId: deleteMultipleUsers
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
    post:
      description: |
        Add a new user
      operationId: postUser
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: post.User
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                $ref: '#/definitions/Post.Sub.User'
            required:
              - user
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/User'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /users/{userId}:
    get:
      description: |
        Get a specific user
      operationId: getUser
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/User'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific user
      operationId: deleteUser
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing user
      operationId: patchUser
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
        - name: patch.User
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                $ref: '#/definitions/Patch.Sub.User'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/User'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /users/{userId}/activate/{token}:
    post:
      description: |
        Activate an existing user
      operationId: postUsersActivate
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
        - name: token
          in: path
          required: true
          type: string
        - name: post.User.Activate
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                $ref: '#/definitions/Post.Sub.User.Activate'
            required:
              - user
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/User'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /users/{userId}/confirm/{token}:
    post:
      description: |
        Confirm e-mail update
      operationId: postUsersConfirm
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
        - name: token
          in: path
          required: true
          type: string
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/User'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /users/{userId}/reset/{token}:
    post:
      description: |
        Reset an existing user
      operationId: postUsersReset
      parameters:
        - name: userId
          in: path
          required: true
          type: integer
        - name: token
          in: path
          required: true
          type: string
        - name: post.User.Reset
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                $ref: '#/definitions/Post.Sub.User.Reset'
            required:
              - user
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/User'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /users/reset/ui:
    post:
      description: |
        Request reset e-mail
      operationId: postUsersResetUi
      parameters:
        - name: post.User.Reset.Ui
          in: body
          required: true
          schema:
            type: object
            properties:
              reset:
                $ref: '#/definitions/Post.Sub.User.Reset.Ui'
            required:
              - reset
      responses:
        200:
          description: Successful
        400:
          description: Invalid input
        403:
          description: Missing permissions
        429:
          description: Too many reset attempts

  /users/invite/ui:
    post:
      description: |
        Send invite e-mail
      operationId: postUsersInviteUi
      parameters:
        - name: post.User.Invite.Ui
          in: body
          required: true
          schema:
            type: object
            properties:
              user:
                $ref: '#/definitions/Post.Sub.User.Invite.Ui'
            required:
              - user
      responses:
        200:
          description: Successful
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /applications:
    get:
      description: |
        Get all applications with permissions for current user

        #### Available Filters
          | Column       | Restrictions |
          | ------------ | ------------ |
          | id           |              |
          | name         |              |
          | currentScan  |              |
          | chargedQuota |              |
          | createdBy    |              |
          | createdAt    |              |
      operationId: getApplications
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application'
    delete:
      description: |
        Delete all applications with permissions for current user

        #### Available Filters
          | Column       | Restrictions |
          | ------------ | ------------ |
          | id           |              |
          | name         |              |
          | currentScan  |              |
          | chargedQuota |              |
          | createdBy    |              |
          | createdAt    |              |
      operationId: deleteMultipleApplications
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
    post:
      description: |
        Add a new application
      operationId: postApplication
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: Post.Application
          in: body
          required: true
          schema:
            type: object
            properties:
              application:
                $ref: '#/definitions/Post.Sub.Application'
            required:
              - application
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /applications/{applicationId}:
    get:
      description: |
        Get a specific application
      operationId: getApplication
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific application
      operationId: deleteApplication
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing application
      operationId: patchApplication
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: patch.Application
          in: body
          required: true
          schema:
            type: object
            properties:
              application:
                $ref: '#/definitions/Patch.Sub.Application'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/{applicationId}/acls:
    get:
      description: |
        Get all acls with permissions for current user

        #### Available Filters
          | Column      | Restrictions |
          | ----------- | ------------ |
          | id          |              |
          | ownerUser   |              |
          | ownerTeam   |              |
          | createdBy   |              |
          | view        |              |
          | delete      |              |
          | create      |              |
          | edit        |              |
          | scan        |              |
          | manage      |              |
          | immutable   |              |
          | application |              |
      operationId: getApplicationAcls
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Acl'
        403:
          description: Missing permissions
    delete:
      description: |
        Delete all acls with permissions for current user

        #### Available Filters
          | Column      | Restrictions |
          | ----------- | ------------ |
          | id          |              |
          | ownerUser   |              |
          | ownerTeam   |              |
          | createdBy   |              |
          | view        |              |
          | delete      |              |
          | create      |              |
          | edit        |              |
          | scan        |              |
          | manage      |              |
          | immutable   |              |
          | application |              |
      operationId: deleteMultipleApplicationAcls
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
    post:
      description: |
        Add a new acl
      operationId: postApplicationAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: post.Application.Acl
          in: body
          required: true
          schema:
            type: object
            properties:
              acl:
                $ref: '#/definitions/Post.Sub.Application.Acl'
            required:
              - acl
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Acl'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /applications/{applicationId}/acls/{aclId}:
    get:
      description: |
        Get a specific acl
      operationId: getApplicationAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: aclId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Acl'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific acl
      operationId: deleteApplicationAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: aclId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing acl
      operationId: patchApplicationAcl
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: aclId
          in: path
          required: true
          type: integer
        - name: patch.Application.Acl
          in: body
          required: true
          schema:
            type: object
            properties:
              acl:
                $ref: '#/definitions/Patch.Sub.Application.Acl'
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Acl'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/acls/own:
    get:
      description: |
        Get all acls for current user

        #### Available Filters
          | Column      | Restrictions |
          | ----------- | ------------ |
          | id          |              |
          | ownerUser   |              |
          | ownerTeam   |              |
          | createdBy   |              |
          | view        |              |
          | delete      |              |
          | create      |              |
          | edit        |              |
          | scan        |              |
          | manage      |              |
          | immutable   |              |
          | application |              |
      operationId: getOwnApplicationAcls
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Acl'

  /applications/uploads/all:
    get:
      description: |
        Get all uploads with permissions for current user

        #### Available Filters
          | Column             | Restrictions  |
          | ----------         | ------------  |
          | id                 |               |
          | createdAt          |               |
          | name               |               |
          | extension          |               |
          | size               |               |
          | file               |               |
          | createdBy          |               |
          | createdByEmail     |               |
          | organization       | - Admins only |
          | organizationName   | - Admins only |
      operationId: getApplicationUploadsAll
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Upload'
        403:
          description: Missing permissions

  /applications/{applicationId}/uploads:
    get:
      description: |
        Get all uploads with permissions for current user

        #### Available Filters
          | Column     | Restrictions |
          | ---------- | ------------ |
          | id         |              |
          | createdAt  |              |
          | name       |              |
          | extension  |              |
          | size       |              |
          | file       |              |
          | createdBy  |              |
      operationId: getApplicationUploads
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Upload'
        403:
          description: Missing permissions
    delete:
      description: |
        Delete all uploads with permissions for current user

        #### Available Filters
          | Column     | Restrictions |
          | ---------- | ------------ |
          | id         |              |
          | createdAt  |              |
          | name       |              |
          | extension  |              |
          | size       |              |
          | file       |              |
          | createdBy  |              |
      operationId: deleteMultipleApplicationUploads
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
    post:
      description: |
        Add a new upload
      operationId: postApplicationUpload
      security:
        - email: []
          password: []
        - oauth2: []
      consumes:
        - multipart/form-data
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: upload[file]
          in: formData
          required: true
          type: file
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Upload'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /applications/{applicationId}/uploads/{uploadId}:
    get:
      description: |
        Get a specific upload
      operationId: getApplicationUpload
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: uploadId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Upload'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific upload
      operationId: deleteApplicationUpload
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: uploadId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/scans/stats:
    get:
      description: |
        Get statistics about all applications with permissions for current user

        #### Available Filters
          | Column          | Restrictions             |
          | --------------- | ------------------------ |
          | id              |                          |
          | version         |                          |
          | upload          |                          |
          | phase           |                          |
          | percent         |                          |
          | loc             |                          |
          | codeStored      |                          |
          | uploadRemoved   |                          |
          | createdBy       |                          |
          | profile         |                          |
          | parent          |                          |
          | startedAt       |                          |
          | finishedAt      |                          |
          | analysisDepth   |                          |
          | application     |                          |
          | applicationName |                          |
          | path            | - Not available in cloud |
          | comment         |                          |
      operationId: getApplicationsScansStats
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Scan.Stats'

  /applications/{applicationId}/scans/stats:
    get:
      description: |
        Get stats about all scans of one application

        #### Available Filters
          | Column        | Restrictions             |
          | ------------- | ------------------------ |
          | id            |                          |
          | version       |                          |
          | upload        |                          |
          | phase         |                          |
          | percent       |                          |
          | loc           |                          |
          | codeStored    |                          |
          | uploadRemoved |                          |
          | createdBy     |                          |
          | profile       |                          |
          | parent        |                          |
          | startedAt     |                          |
          | finishedAt    |                          |
          | analysisDepth |                          |
          | application   |                          |
          | path          | - Not available in cloud |
          | comment       |                          |
      operationId: getApplicationScansStats
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Scan.Stats'
        403:
          description: Missing permissions

  /applications/{applicationId}/scans/{scanId}/comparison:
    get:
      description: |
        Get stats about old, new and fixed issues compared to parent scan
      operationId: getApplicationScanComparison
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            type: object
        400:
          description: No parent scan found
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/{applicationId}/scans/{scanId}/comparison/details:
    get:
      description: |
        Gets old, new and fixed issues compared to parent scan
      operationId: getApplicationScanComparisonDetails
      security:
        - email: []
          password: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            type: object
        400:
          description: No parent scan found
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/scans/all:
    get:
      description: |
        Get all scans with permissions for the current user

        #### Available Filters
          | Column            | Restrictions                                |
          | ----------------- | ------------------------------------------- |
          | id                |                                             |
          | version           |                                             |
          | upload            |                                             |
          | phase             |                                             |
          | percent           |                                             |
          | loc               |                                             |
          | codeStored        |                                             |
          | uploadRemoved     |                                             |
          | createdBy         |                                             |
          | profile           |                                             |
          | parent            |                                             |
          | startedAt         |                                             |
          | finishedAt        |                                             |
          | analysisDepth     |                                             |
          | application       |                                             |
          | path              | - Not available in cloud unless ROLE_WORKER |
          | applicationName   |                                             |
          | organization      | - Requires ROLE_ADMIN                       |
          | organizationName  | - Requires ROLE_ADMIN                       |
          | createdByEmail    | - Requires ROLE_ADMIN                       |
          | comment           |                                             |
      operationId: getApplicationsScansAll
      parameters:
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      security:
        - email: []
          password: []
        - oauth2: []
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Scan'

  /applications/{applicationId}/scans:
    get:
      description: |
        Get all scans of one application

        #### Available Filters
          | Column        | Restrictions             |
          | ------------- | ------------------------ |
          | id            |                          |
          | version       |                          |
          | upload        |                          |
          | phase         |                          |
          | percent       |                          |
          | loc           |                          |
          | codeStored    |                          |
          | uploadRemoved |                          |
          | createdBy     |                          |
          | profile       |                          |
          | parent        |                          |
          | startedAt     |                          |
          | finishedAt    |                          |
          | analysisDepth |                          |
          | application   |                          |
          | path          | - Not available in cloud |
          | comment       |                          |
      operationId: getApplicationScans
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Scan'
        403:
          description: Missing permissions
    delete:
      description: |
        Delete all scans of one application

        #### Available Filters
          | Column        | Restrictions             |
          | ------------- | ------------------------ |
          | id            |                          |
          | version       |                          |
          | upload        |                          |
          | phase         |                          |
          | percent       |                          |
          | loc           |                          |
          | codeStored    |                          |
          | uploadRemoved |                          |
          | createdBy     |                          |
          | profile       |                          |
          | parent        |                          |
          | startedAt     |                          |
          | finishedAt    |                          |
          | analysisDepth |                          |
          | application   |                          |
          | path          | - Not available in cloud |
          | comment       |                          |
      operationId: deleteMultipleApplicationScans
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
        400:
          description: Invalid input
        403:
          description: Missing permissions
    post:
      description: |
        Add a new scan to application
      operationId: postApplicationScan
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: post.Application.Scan
          in: body
          required: true
          schema:
            type: object
            properties:
              scan:
                $ref: '#/definitions/Post.Sub.Application.Scan'
              tags:
                type: array
                items:
                  type: string
              php:
                $ref: '#/definitions/Post.Sub.Application.Scan.Php'
              java:
                $ref: '#/definitions/Post.Sub.Application.Scan.Java'
              libraries:
                type: array
                items:
                  $ref: '#/definitions/Post.Sub.Application.Scan.Library'
            required:
              - scan
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Scan'
        400:
          description: Invalid input
        403:
          description: Missing permissions

  /applications/{applicationId}/scans/{scanId}:
    get:
      description: |
        Get a specific scan
      operationId: getApplicationScan
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Scan'
        403:
          description: Missing permissions
        404:
          description: Not found
    delete:
      description: |
        Delete a specific scan
      operationId: deleteApplicationScan
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
        403:
          description: Missing permissions
        404:
          description: Not found
    patch:
      description: |
        Update an existing scan
      operationId: patchApplicationScan
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
        - name: patch.Application.Scan
          in: body
          required: true
          schema:
            type: object
            properties:
              scan:
                $ref: '#/definitions/Patch.Sub.Application.Scan'
              tags:
                type: array
                items:
                  type: string
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Scan'
        400:
          description: Invalid input
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/{applicationId}/scans/{scanId}/classes/batches:
    post:
      description: |
        Add a new class
      operationId: postApplicationScanClassesBatches
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
        - name: post.Application.Scan.Classes
          in: body
          required: true
          schema:
            type: object
            properties:
              classes:
                $ref: '#/definitions/Post.Sub.Application.Scan.Classes'
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Scan.Class'
        403:
          description: Missing permissions

  /applications/{applicationId}/scans/{scanId}/classes:
    get:
      description: |
        Get all classes of one scan

        #### Available Filters
          | Column      | Restrictions |
          | ----------- | ------------ |
          | id          |              |
          | startLine   |              |
          | endLine     |              |
          | startColumn |              |
          | endColumn   |              |
          | name        |              |
          | package     |              |
          | file        |              |
      operationId: getApplicationScanClasses
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Scan.Class'
        403:
          description: Missing permissions

  /applications/{applicationId}/scans/{scanId}/classes/{classId}:
    get:
      description: |
        Get a specific class
      operationId: getApplicationScanClass
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
        - name: classId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Scan.Class'
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/{applicationId}/scans/{scanId}/functions/batches:
    post:
      description: |
        Add a new function
      operationId: postApplicationScanFunctionsBatches
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
        - name: post.Application.Scan.Functions
          in: body
          required: true
          schema:
            type: object
            properties:
              functions:
                $ref: '#/definitions/Post.Sub.Application.Scan.Functions'
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Scan.Function'
        403:
          description: Missing permissions

  /applications/{applicationId}/scans/{scanId}/functions:
    get:
      description: |
        Get all functions of one scan

        #### Available Filters
          | Column      | Restrictions |
          | ----------- | ------------ |
          | id          |              |
          | startLine   |              |
          | endLine     |              |
          | startColumn |              |
          | endColumn   |              |
          | name        |              |
          | file        |              |
          | class       |              |
      operationId: getApplicationScanFunctions
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
        - name: filter
          in: query
          type: string
          description: A JSON-encoded filter object (see 'Available Filters').
        - name: orderBy
          in: query
          type: string
          description: A JSON-encoded orderBy object (see 'Available Filters').
        - name: select
          in: query
          type: string
          description: A JSON-encoded select object (see 'Available Filters').
        - name: limit
          in: query
          type: integer
          minimum: 0
          maximum: 500
          default: 500
          description: Limits the number of elements in the collection.
        - name: offset
          in: query
          type: integer
          minimum: 0
          default: 0
          description: Changes the offset in the collection.
      responses:
        200:
          description: Successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Application.Scan.Function'
        403:
          description: Missing permissions

  /applications/{applicationId}/scans/{scanId}/functions/{functionId}:
    get:
      description: |
        Get a specific function
      operationId: getApplicationScanFunction
      security:
        - email: []
          password: []
        - oauth2: []
      parameters:
        - name: applicationId
          in: path
          required: true
          type: integer
        - name: scanId
          in: path
          required: true
          type: integer
        - name: functionId
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful
          schema:
            $ref: '#/definitions/Application.Scan.Function'
        403:
          description: Missing permissions
        404:
          description: Not found

  /applications/{applicationId}/scans/{scanId}/concats:
    get:
      description: |
        Get all concats of one scan

        #### Available Filters
          | Column   | Restrictions |
          | -------- | ------------ |
          | id       |              |
          | line     |              |
[...]
